<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="<%= 'active' if controller_name == 'top_pages' %>">
        <%= link_to admin_root_path do %>
          <span>Trang chủ</span>
        <% end %>
      </li>
      <li class="treeview menu-open">
        <a href="#"><span>Bài viết</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: block;">
          <li class="<%= 'active' if controller_name == 'dashboard' %>">
            <%= link_to admin_posts_path do %>
              <i class="fa fa-book"></i>
              <span>Tất cả bài viết</span>
            <% end %>
          </li>
          <li class="<%= 'active' if controller_name == 'dashboard' %>">
            <%= link_to "#" do %>
              <i class="fa fa-align-justify"></i>
              <span>Danh mục bài viết</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="treeview menu-open">
        <a href="#"><span>Quản lý</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: block;">
          <li class="<%= 'active' if controller_name == 'dashboard' %>">
            <%= link_to "#" do %>
              <i class="fa fa-users"></i>
              <span>Quản lý người dùng</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="treeview menu-open">
        <a href="#"><span>Lịch sử</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: block;">
          <li class="<%= 'active' if controller_name == 'dashboard' %>">
            <%= link_to "#" do %>
              <i class="fa fa-history"></i>
              <span>Lịch sử người dùng</span>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
