<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="<%= 'active' if controller_name == 'top_pages' %>">
        <%= link_to admin_root_path do %>
          <span>Trang chủ</span>
        <% end %>
      </li>
      <li class="treeview menu-open">
        <a href="#"><span>Posts</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: block;">
          <li class="<%= 'active' if controller_name == 'dashboard' %>">
            <%= link_to admin_posts_path do %>
              <i class="far fa-newspaper"></i>
              <span>Posts</span>
            <% end %>
          </li>
          <li class="<%= 'active' if controller_name == 'dashboard' %>">
            <%= link_to "#" do %>
              <i class="fa fa-align-justify"></i>
              <span>Categoty</span>
            <% end %>
          </li>
          <li class="<%= 'active' if controller_name == 'dashboard' %>">
            <%= link_to admin_abouts_path do %>
              <i class="far fa-address-card"></i>
              <span>About Us</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="treeview menu-open">
        <a href="#"><span>Manage</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: block;">
          <li class="<%= 'active' if controller_name == 'dashboard' %>">
            <%= link_to "#" do %>
              <i class="fa fa-users"></i>
              <span>Users</span>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="treeview menu-open">
        <a href="#"><span>History</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: block;">
          <li class="<%= 'active' if controller_name == 'dashboard' %>">
            <%= link_to "#" do %>
              <i class="fa fa-history"></i>
              <span>user history</span>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
