<%= provide :title, "Hảo trương | Cả một bầu trời xàm xí" %>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="post animated fadeInDown">
      <div class="post-title">
        <h2>
          <%= link_to post_path(post) do %>
            <i class="fab fa-twitter"></i> <%= post.title %>
          <% end %>
        </h2>
      </div>
      <div class="post-content">
        <p><%= post.description %></p>
      </div>
      <div class="post-footer">
        <div class="meta">
          <div class="info"><i class="far fa-clock"></i><span class="date"><%= post.created_at.strftime(Settings.date.formats) %></span></div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p><i>Đôi lúc muốn tĩnh lặng 1 chút, nên cái sự xàm xí cũng tĩnh lặng theo</i></p>
<% end %>
<!-- <div class="pagination">
  <ul class="clearfix">
    <li class="next pagbuttons"><a class="btn" role="navigation" href="page/2/index.html"><i class="icon-right-outline"></i></a></li>
  </ul>
</div> -->


