<tbody>
  <tr>
    <td class="col-sm-3"></i><%= link_to post.title , admin_post_path(post) %></td>
    <td><%=raw truncate(post.description , length: 30, omission: '...') %></td>
    <td><%=raw truncate(post.content , length: 30, omission: '...') %></td>
    <td><%= post.slug %></td>
    <td colspan="2">
      <%= link_to  admin_post_path(post), method: :delete, data: { confirm: "You sure?" } do %>
        <%= content_tag :i, "" , class: "fa fa-trash" %>
      <% end %>
      |
      <%= link_to edit_admin_post_path(post) do %>
        <%= content_tag :i, "", class: "fa fa-wrench" %>
      <% end %>
    </td>
  </tr>
</tbody>
