<%= link_to new_admin_about_path , class: "caption" do %>
  <%= content_tag :i, "", class: "fas fa-feather-alt"%> Create Post About Us
<% end %>
<br>
<% if @abouts.any? %>
  <%= search_form_for @q, url: admin_abouts_path do |f| %>
    <div class="form-group">
      <%= f.search_field :title_cont, class: "form-control", placeholder: "Search about... " %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
<br>
<div class="clearfix"></div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th><%= t(".title") %></th> -->
      <th>Title</th>
      <th>Description</th>
      <th>Content</th>
      <th>Display</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <%= render @abouts %>
</table>

