<div class="page-top">
  <div class="nav">
    <ul>
      <li><a class="<%= 'current' if current_page?(root_path)%>" href="<%= root_path %>" title="">Cả một bầu trời xàm xí</a></li>
      <li>
        <a class="<%= 'current' if params[:controller] == "abouts" %>" href="<%= about_path %>" title="">Am Hia(I'm Here)</a>
      </li>
      <li>
        <%= link_to(user_facebook_omniauth_authorize_path) do %>
          <i class="fab fa-facebook-f"></i> Kết nối, kết nối nào !
        <% end %>
      </li>
      <li class="toggle-menu">
        <a href="javascript:void(0);" class="icon" id="showMenu">
          <i class="fa fa-bars"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
